#question {
  text-align: left;
}
#question .video-box {
  position: fixed;
  top:0;
  right:0;
}
.bottom-action {
  position: fixed;
  bottom: .3rem;
  left: 0;
  width: 100%;
  padding-left: .32rem;
}
.hang-up-btn {
  width: .44rem;
  height: .44rem;
  cursor: pointer;
}
.hang-up-btn img{
  width: .44rem;
  height: .44rem;
}
.b-btn {
  background: #32CB9D;
  border-radius: 0.24rem;
  font-family: PingFangSC-Regular;
  font-size: 0.14rem;
  color: #FFFFFF;
  text-align: center;
  margin-left: 0.39rem;
  width: 2.13rem;
  height: .44rem;
  line-height: .44rem;
}
 
