.wrap {
  /* // width: 100vh; */
  min-height: 100vh;
  /* // height: auto; */
  background: #292D4D;
  color: #FFFFFF;
}
.aiimg {
  width: .82rem;
}
.img-wrap {
  margin: 0 auto;
  width: .82rem;
  padding-top: 1rem;
}

.title {
  font-family: PingFangSC-Semibold;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  padding-top: .32rem;
}

.content {
  width: 2.8rem;
  margin: .76rem auto .5rem;
  border-top: 1px solid #4B4E68;
  border-bottom: 1px solid #4B4E68;
  padding: .32rem 0;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 17px;
}
.content-item {
  margin: 0 0 16px 0;
}
.content-item img {
  font-size: 16px;
  margin-right: 8px;
}
.content-item:last-child {
  margin: 0;
}
.home-btn {
  width: 2.8rem !important;
  border-radius: .28rem !important;
  background-color: #32CB9D !important;
  margin: .7rem auto 0 !important;
}