.form-wrap {
  min-height: 100vh;
  background: #292D4D;
  color: #FFFFFF;
  position: relative;
}
.form-head-img {
  position: absolute;
  width: .32rem;
  right: 0;
  top: .4rem;
}

.form-title {
  font-family: PingFangSC-Semibold;
  font-size: 28px;
  margin: 0;
  padding-top: .6rem;
  padding-left: .2rem;
}
.am-list-item {
  background-color: #292D4D !important;
  
}
.am-list-item .am-input-label, .am-list-item .am-input-control input {
  color: #FFFFFF !important;
}
.am-list-item.am-input-item {
  padding-left: 20px !important;
  padding-right: 20px;
}
.am-list-item .am-input-label.am-input-label-5 {
  width: .74rem !important;
}
.am-list-item .am-input-control input {
  font-family: PingFangSC-Regular !important;
  font-size: 17px !important;
  /* // color: #7F8194 !important; */
}
html:not([data-scale]) .am-list-item:not(:last-child) .am-list-line::after {
  background-color: #CFD0D6 !important;
}
html:not([data-scale]) .am-list-line::after {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1PX;
  transform-origin: 50% 100%;
  transform: scaleY(0.5);
  background-color: #CFD0D6 !important;
}

.am-input-item {
  margin: .44rem 0;
}
.home-btn {
  width: 2.8rem !important;
  border-radius: .28rem !important;
  background-color: #32CB9D !important;
  margin: .36rem auto 0 !important;
}